<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AWyes.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <AWyes.Properties.Settings>
      <setting name="ProfileName" serializeAs="String">
        <value />
      </setting>
      <setting name="ProfileNameAdmin" serializeAs="String">
        <value />
      </setting>
      <setting name="OneTimePasswordKey" serializeAs="String">
        <value />
      </setting>
      <setting name="EncryptionCheck" serializeAs="String">
        <value />
      </setting>
      <setting name="EncryptionIV" serializeAs="String">
        <value />
      </setting>
      <setting name="CloudflaredInstallLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="PortForwardingDocumentName" serializeAs="String">
        <value />
      </setting>
    </AWyes.Properties.Settings>
  </userSettings>
</configuration>